{% extends 'base.html.twig' %}

{% block body %}

    <div class="row texto-inicio">
        <h1>Olá {{usuarioNome}}! Escolha os eventos para um mês! </h1>
        <p>Nesta aplicação você pode marcar eventos, atualizá-los e deletar eventos.</p>
        <p>Esta aplicação foi desenvolvida utilizando o framework de PHP Symfony 3.10, para o front-end
            foi utilizado Boostrap v3.3.6, como IDE para auxiliar na programação foi utilizado NetBeans 8.1,
            como servidor foi utilizando o APache v2.4.17, como banco de dados foi utilizando MySQL v5.7.9.</p>
        <p>Desenvolvido por <a href="https://github.com/BrunoBiluca">BrunoBiluca</a></p>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-3">
            <h1 class="titulo-lista">Ações:</h1><br>
            <a href="{{ path('agenda_painel') }}"><button class="btn btn-primary btn-lg">Painel</button></a><hr>
            <a href="{{ path('agenda_criar') }}"><button class="btn btn-primary btn-lg">Criar novo evento!</button></a><hr>
            <a href="{{ path('agenda_mes') }}"><button class="btn btn-primary btn-lg">Listar eventos do mês!</button></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h1 class="titulo-lista">Lista de eventos:</h1><br>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group form-mes">
                {{form_label(form.data, "Escolha o mês:")}}
                {{form_widget(form.data, {'attr' : {'class': 'form-control input-lg'}})}}
            </div>
            <div class="form-group botao-form">
                {{form_widget(form.save, {'attr' : {'class': 'btn btn-primary btn-lg'}})}}
            </div>
            {{ form_end(form) }}
            <hr>
            <a href="{{ path('agenda_mes', {'listaEstilo': 'lista'}) }}"><button class="btn btn-primary btn-lg">Lista</button></a>
            <a href="{{ path('agenda_mes', {'listaEstilo': 'grid'}) }}"><button class="btn btn-primary btn-lg">Grid</button></a><hr>

            <div class="row">
            {% for evento in eventos %}
                {% block lista %}
                    {% if listaEstilo == 'lista' %}
                    {{ include('BrunoBundle:Listas:lista.html.twig', { 'evento': evento }) }}
                    {% elseif listaEstilo == 'grid' %}
                    {{ include('BrunoBundle:Listas:grid.html.twig', { 'evento': evento }) }}
                    {% endif %}
                {% endblock %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
